

<style type="text/css">
    table tbody tr td { border-top: solid 1px #CCCCCC; border-right: solid 1px #CCCCCC; width: 80px; }
    table { border-collapse: initial; }
    .expiry-container .expiry-wrapper select { width: 50%; }
    .ui.segment { border: none; box-shadow: none; padding: .5em 1em; }
    .recurring { padding: 15px 0; font-size: 15px; }
        .recurring label { font-weight: bold; padding-left: 10px; }
    .ui.form .recurring input[type=checkbox], .ui.form textarea { vertical-align: unset !important; }
</style>

@if (!String.IsNullOrEmpty(ViewBag.ResultMessage))
{
    @Html.Raw(ViewBag.ResultMessage)
}


<div class="container">

    <br />
    <br />
    <div class="card-container">

        <div class="front">
            <div class="image">
                <img src="image/chip.png" alt="">
                <img src="image/visa.png" alt="">
            </div>
            <div class="card-number-box">################</div>
            <div class="flexbox">
                <div class="box">
                    <span>card holder</span>
                    <div class="card-holder-name">full name</div>
                </div>
                <div class="box">
                    <span>expires</span>
                    <div class="expiration">
                        <span class="exp-month">mm</span>
                        <span class="exp-year">yy</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="back">
            <div class="stripe"></div>
            <div class="box">
                <span>cvv</span>
                <div class="cvv-box"></div>
                <img src="image/visa.png" alt="">
            </div>
        </div>

    </div>
    

    <form asp-controller="Checkout" asp-action="Index" id="payment-form" name="form">

        
      @*   <h4 class="ui horizontal divider header">
        <span style="text-decoration: underline; color: black" class="tab">Ödeme Bilgileri</span>
    </h4>*@
    
        <div class="inputBox">
            <span>Kart Numarası</span>
            <input type="text" maxlength="16" class="card-number my-custom-class" name="card-number" id="CardNumber">
        </div>
        <div class="inputBox">
            <span>Kart Sahibinin Adı</span>
            <input type="text" class="name"  id="the-card-name-id" name="CardholderName" required>
               </div>


        <div class="flexbox">

             <div class="inputBox">
            <span>Expiration MM</span>
            <input type="text"  class="expiry-month"  name="ExpireMonth" required>
        </div>

         <div class="inputBox">
            <span>Expiration YY</span>
            <input type="text"  class="expiry-year" name="ExpireYear" required>
        </div>
        @*    <div class="inputBox">
                <span>expiration mm</span>
                <select name="" id="" class="month-input">
                    <option value="month" selected disabled>month</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="inputBox">
                <span>expiration yy</span>
                <select name="" id="" class="year-input">
                    <option value="year" selected disabled>year</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                </select>
            </div>*@
            <div class="inputBox">
                <span>cvv</span>
                <input type="text" maxlength="3" class="cvc" name="CardCode" required>
            </div>
        </div>
        <br />
        <br />
          <h4 class="ui horizontal divider header">
        <span style="text-decoration: underline; color: black" class="tab">Sipariş Bilgileri</span>
    </h4>
        <div class="inputBox">
            <span>Miktar</span>
            <input type="text" class="cvc half" name="Amount">
        </div>
            <div class="inputBox">
            <span>Sipariş No</span>
            <input type="text" class="cvc half" name="OrderId">
        </div>
                <br />


        <input type="submit" value="submit" class="submit-btn" name="paymentButton">
    </form>

</div>    
    





<script>

document.querySelector('.card-number my-custom-class').oninput = () =>{
    document.querySelector('.card-number-input').innerText = document.querySelector('.card-number my-custom-class').value;
}

document.querySelector('.name').oninput = () =>{
    document.querySelector('.card-holder-name').innerText = document.querySelector('.name').value;
}

document.querySelector('.expiry-month').oninput = () =>{
    document.querySelector('.exp-month').innerText = document.querySelector('.expiry-month').value;
}

document.querySelector('.expiry-year').oninput = () =>{
    document.querySelector('.exp-year').innerText = document.querySelector('.expiry-year').value;
}

document.querySelector('.cvc').onmouseenter = () =>{
    document.querySelector('.front').style.transform = 'perspective(1000px) rotateY(-180deg)';
    document.querySelector('.back').style.transform = 'perspective(1000px) rotateY(0deg)';
}

document.querySelector('.cvc').onmouseleave = () =>{
    document.querySelector('.front').style.transform = 'perspective(1000px) rotateY(0deg)';
    document.querySelector('.back').style.transform = 'perspective(1000px) rotateY(180deg)';
}

document.querySelector('.cvv').oninput = () =>{
    document.querySelector('.cvv-box').innerText = document.querySelector('.cvv').value;
}

</script>

